__pycache__/
*.pyc
Thomas M. Tauris, Edward P.J. van den Heuvel - Physics of Binary Star Evolution-Princeton University Press (2023).pdf
*.gz
*.aux
*.log
*.glo
*.out
*.glg
*.ist
*.toc
*.blg
*bbl 
*blg
*.fdb_latexmk
*.bbl-SAVE-ERROR
partial.tex
.vscode/last-created-path
*.bcf
*.xml
*.fls
*.auxlock
*.gls
